.Notifications {
    border: 1px dotted #E0354B;
    padding: 1rem;
    border-radius: 5px;
}

ul li[data-notification-type='default'] {
    color: blue;
}

ul li[data-notification-type='urgent'] {
    color: red;
}

.menuItem {
    text-align: right;
    margin-right: 35px;
}
